<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>{{ 'SHOPPING_CART_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item.product.thumbnailUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>

      <h1>{{item.product.name}}</h1>

      <h2>{{item.product.price | currency}}</h2>

      <h2>
        <ion-icon name="remove-circle" class="nolinebreak" color="primary" (click)=decreaseQuantity(item.product)></ion-icon>
        <h2 class="nolinebreak">{{item.quantity}}</h2>
        <ion-icon name="add-circle" color="primary" (click)="increaseQuantity(item.product)"></ion-icon>
      </h2>
      <ion-icon name="trash" item-end color="danger" (click)="removeProduct(item.product)"></ion-icon>

    </ion-item>

    
    <ion-item *ngIf="total() > 0">
        <h1>{{ 'TOTAL' | translate }}</h1>
        <h1 item-end>{{ total() | currency }}</h1>
    </ion-item>
    <ion-item *ngIf="total() <= 0">
        <h1>{{ 'CART_EMPTY' | translate }}</h1>
    </ion-item>
      
  </ion-list>  

  <button ion-button icon-start block large (click)=keepShopping()>
    <ion-icon name="cart"></ion-icon>
    {{ 'KEEP_SHOPPING' | translate }}
  </button>

  <button *ngIf="total() > 0" ion-button icon-start block large (click)=checkout() color="secondary">
    <ion-icon name="card"></ion-icon>
    {{ 'CHECKOUT' | translate }}
  </button>

</ion-content>