<ion-header>

  <ion-navbar>
    
    <ion-title>{{ 'PROFILE_TITLE' | translate }}</ion-title>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-avatar>
    <img class="circle" [src]="customerDTO?.imgUrl || 'assets/imgs/avatar-blank.png'">
  </ion-avatar>
  <h1 text-center>{{ customerDTO?.name }}</h1>
  <p text-center>{{ customerDTO?.email }}</p>

  <ion-card>
    <ion-card-header>
      <h2>{{ 'CHANGE_PICTURE' | translate }}</h2>
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img class="circle" [src]="picture">
    </ion-item>
    <ion-item>
      <button *ngIf="picture" ion-button large block color="secondary" (click)="sendProfilePicture()" [disabled]="cameraOn">
          {{ 'SAVE_PICTURE' | translate }}
      </button>
      <button *ngIf="picture" ion-button large block outline color="danger" (click)="cancelProfilePicture()" [disabled]="cameraOn">
          {{ 'DISMISS_PICTURE' | translate }}
      </button>
    </ion-item>
    <ion-item>
      <button ion-button icon-start large (click)="getGalleryPicture()" [disabled]="picture" class="width_half">
          <ion-icon name="images"></ion-icon>
          {{ 'GALLERY' | translate }}
      </button>
      <button ion-button icon-start large (click)="getCameraPicture()" [disabled]="picture" class="width_half">
          <ion-icon  name="camera"></ion-icon>
          {{ 'CAMERA' | translate }}
      </button>
    </ion-item>
  </ion-card>
</ion-content>
