<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PAYMENT_TYPE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="nextPage(); $event.preventDefault()">
    <ion-list radio-group formControlName="paymentType">
      <ion-list-header>
        <h1>{{ 'PAYMENT_TYPE' | translate }}</h1>
      </ion-list-header>
     <ion-item>
        <ion-label icon-start>
            <ion-icon name="card"></ion-icon>
            {{ 'CREDIT_CARD' | translate }}
        </ion-label>
        <ion-radio checked="true" value="CreditCardPayment"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label icon-start>
            <ion-icon name="cash"></ion-icon>
            {{ 'TICKET' | translate }}
        </ion-label>
        <ion-radio value="TicketPayment"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="formGroup.value['paymentType'] == 'CreditCardPayment'">
      <ion-label stacked><h2>{{ 'INSTALLMENTS' | translate }}</h2></ion-label>
      <ion-select formControlName="installments"
       okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}">
        <ion-option *ngFor="let i of installments; first as f" [value]="i" [selected]="f">{{i}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">{{ 'NEXT' | translate }}</button>
  </form>
</ion-content>