<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!transactionId">{{ 'PLACEORDER_TITLE_REVIEW' | translate }}</ion-title>
    <ion-title *ngIf="transactionId">{{ 'PLACEORDER_TITLE_CONFIRMED' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!transactionId">
    <ion-card>
      <ion-card-header>
        <h1>{{ 'ORDER_ITEMS' | translate }}</h1>
      </ion-card-header>
      
      <ion-list>
        <ion-item *ngFor="let item of cartItems">
          <ion-thumbnail item-start>
            <img [src]="item.product.thumbnailUrl || 'assets/imgs/prod.jpg'">
          </ion-thumbnail>
          <h1>{{item.product.name}}</h1>
          <h2>{{item.product.price | currency}}</h2>
          <h2 class="nolinebreak">{{item.quantity}}</h2>
          <h2 item-end>{{item.product.price * item.quantity | currency}}</h2>
        </ion-item> 

        <ion-item>
          <h1>{{ 'TOTAL' | translate }}</h1>
          <h1 item-end>{{total() | currency}}</h1>
        </ion-item>
      </ion-list> 
    </ion-card>

    <ion-card>
        <ion-card-header>
          <h1>{{ 'CUSTOMER' | translate }}</h1>
        </ion-card-header>
        <ion-item>
          <h1>{{customerDTO?.name}}</h1>
          <h2>{{customerDTO?.email}}</h2>
        </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h1>{{ 'DELIVERY_ADDRESS' | translate }}</h1>
      </ion-card-header>
    
      <ion-item>
        <h1>{{addressDTO?.street}}, {{addressDTO?.number}}</h1>
        <h2>{{ 'COMPLEMENT' | translate }}: {{addressDTO?.complement}}</h2>
        <h2>{{ 'DISTRICT' | translate }}: {{addressDTO?.district}}</h2>
        <h2>{{ 'CITY' | translate }}: {{addressDTO?.city.name}} / {{addressDTO?.city.state.name}}</h2>
        <h2>{{ 'ZIP_CODE' | translate }}: {{addressDTO?.zipCode}}</h2>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h1>{{ 'PAYMENT' | translate }}</h1>
      </ion-card-header>
    
      <ion-item *ngIf="insertOrderDTO.paymentType=='CreditCardPayment'">
        <h2>{{ 'CREDIT_CARD' | translate }}</h2>
        <h2>{{ 'INSTALLMENTS' | translate }}: {{insertOrderDTO.installments}}</h2>
      </ion-item>
      <ion-item *ngIf="insertOrderDTO.paymentType=='TicketPayment'">
        <h2>{{ 'TICKET' | translate }}</h2>
      </ion-item>
    </ion-card>

    <ion-item>
      <button ion-button large block color="secondary" (click)="placeOrder()">{{ 'PLACE_ORDER' | translate }}</button>
      <button ion-button large block outline (click)="backToShoopingCart()">{{ 'BACK_TO_CART' | translate }}</button>
    </ion-item>
  </div>

  <div *ngIf="transactionId">
    <ion-card>
      <ion-card-header>
        {{ 'ORDER_PLACED' | translate }}
      </ion-card-header>
      <ion-item>
        <h2>{{ 'TRANSACTION_ID' | translate }}: {{transactionId}}</h2>
        <p>{{ 'CHECK_YOUR_EMAIL' | translate }}</p>
      </ion-item>
    </ion-card>

    <button ion-button block outline (click)="backToCategories()">{{ 'KEEP_SHOPPING' | translate }}</button>
  </div>
</ion-content>