<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!transactionId">Review Your Order</ion-title>
    <ion-title *ngIf="transactionId">Order confirmed!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!transactionId">
    <ion-card>
      <ion-card-header>
        <h1>Order Items</h1>
      </ion-card-header>
      
      <ion-list>
        <ion-item *ngFor="let item of cartItems">
          <ion-thumbnail item-start>
            <img [src]="item.product.thumbnailUrl || 'assets/imgs/prod.jpg'">
          </ion-thumbnail>
          <h1>{{item.product.name}}</h1>
          <h2>{{item.product.price | currency}}</h2>
          <h2 class="nolinebreak">{{item.quantity}}</h2>
          <h2 item-end>{{item.product.price * item.quantity | currency}}</h2>
        </ion-item> 

        <ion-item>
          <h1>Total</h1>
          <h1 item-end>{{total() | currency}}</h1>
        </ion-item>
      </ion-list> 
    </ion-card>

    <ion-card>
        <ion-card-header>
          <h1>Customer</h1>
        </ion-card-header>
        <ion-item>
          <h1>{{customerDTO?.name}}</h1>
          <h2>{{customerDTO?.email}}</h2>
        </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h1>Delivery Address</h1>
      </ion-card-header>
    
      <ion-item>
      <h1>{{addressDTO?.street}}, {{addressDTO?.number}}</h1>
      <h2>{{addressDTO?.complement}} {{addressDTO?.district}} {{addressDTO?.zipCode}}</h2>
      <h2>{{addressDTO?.city.name}}, {{addressDTO?.city.state.name}}</h2>
    </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h1>Payment</h1>
      </ion-card-header>
    
      <ion-item *ngIf="insertOrderDTO.paymentType=='CreditCardPayment'">
        <h2>Credit Card Payment</h2>
        <h2>Installments: {{insertOrderDTO.installments}}</h2>
      </ion-item>
      <ion-item *ngIf="insertOrderDTO.paymentType=='TicketPayment'">
        <h2>Ticket Payment</h2>
      </ion-item>
    </ion-card>

    <ion-item>
      <button ion-button large block color="secondary" (click)="placeOrder()">Place Order</button>
      <button ion-button large block outline (click)="backToShoopingCart()">Back to Shopping Cart</button>
    </ion-item>
  </div>

  <div *ngIf="transactionId">
    <ion-card>
      <ion-card-header>
        Your order has been placed!
      </ion-card-header>
      <ion-item>
        <h2>Transaction ID: {{transactionId}}</h2>
        <p>Check your email.</p>
      </ion-item>
    </ion-card>

    <button ion-button block outline (click)="backToCategories()">Keep Shopping</button>
  </div>
</ion-content>